.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.address {
  max-width: 240px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 22px;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px;
  color: inherit;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.bet-button:hover {
  transform: scale(1.03);
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 92px 49px 96px 51px;
}

.header__links-list {
  display: flex;
  align-items: center;
  gap: 10px 33px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  text-underline-offset: 5px;
  transition: text-underline-offset 0.3s ease;
}

.header__link:hover {
  text-underline-offset: 7px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  justify-self: center;
  width: 148px;
  height: 105px;
  transition: transform 0.3s ease;
}

.header__logo:hover {
  transform: scale(1.03);
}

.header__logo-image {
  max-height: 100%;
  object-fit: contain;
}

.header__address {
  justify-self: end;
}

.address-link {
  text-underline-offset: 5px;
  transition: text-underline-offset 0.3s ease;
  white-space: nowrap;
}

.address-link:hover {
  text-underline-offset: 7px;
}

.cover {
  position: relative;
  z-index: 1;
  padding: 173px 50px 50px 50px;
  color: #fff;
  background-color: #a7a7a7;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.big-letter-spacing {
  letter-spacing: 55px;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.align-left,
.aligned-center,
.aligned-right {
  display: block;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.cover__title {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-bottom: 135px;
  font-weight: 700;
  font-size: 100px;
  line-height: 100%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.cover__description {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 51px;
}

.cover__description-text {
  align-self: auto;
  margin-right: 107px;
  font-weight: 100;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 18px;
}

.lots {
  padding: 180px 50px 50px 50px;
}

.lots__heading {
  margin-bottom: 25px;
  margin-left: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px; 
}

.lots__card-list-item {
  min-height: 450px;
  list-style: none;
}

.lots__look-more-link {
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: normal;
  text-underline-offset: 5px;
  transition: text-underline-offset 0.3s ease;
}

.lots__look-more-link:hover {
  text-underline-offset: 7px;
}

.card-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.card-link:hover {
  transform: translateY(-5px);
}

.card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 334px;
  height: 596px;
  padding: 50px 40px;
  color: #fff;
}

.card_type_film,
.card_type_book,
.card_type_picture {
  background-color: #a7a7a7;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  margin-top: auto;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.about {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 28px;
  padding: 130px 50px 90px 50px;
}

.about__logo {
  display: flex;
  width: 240px;
  height: 240px;
  margin: 0 94px;
  border-radius: 50%;
  background: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  margin: auto;
  object-fit: contain;
}

.about__title {
  margin-top: 102px;
  margin-bottom: 100px;
  font-weight: 700;
  font-size: 40px;
  line-height: normal;
  text-transform: uppercase;
}

.about__text {
  font-weight: 400;
  font-size: 20px;
  line-height: normal;
}

.about__text:not(:last-of-type) {
  margin-bottom: 25px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  padding: 90px 50px;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__menu-link {
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  text-underline-offset: 2px;
  transition: text-underline-offset 0.3s ease;
}

.footer__menu-link:hover {
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-link {
  display: block;
  width: 48px;
  height: 48px;
  transition: transform 0.3s ease;
}

.footer__social-link:hover {
  transform: translateY(-3px);
}

.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  justify-self: end;
  align-items: center;
  gap: 20px 48px;
  max-width: 240px;
  list-style: none;
}
